<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>


    <script src="../js/controller/editUserController.js"></script>
    <script src="../js/service/editUserService.js"></script>
</head>
<body ng-controller="editUserController">
<div >
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/home" class="navbar-brand">Dictionary</a>
                    <a class="navbar-brand"></a>
                    <a class="navbar-brand"></a>
                    <a class="navbar-brand"></a>
                    <a href="/schedule" class="navbar-brand">Schedule</a>
                    <a class="navbar-brand"></a>
                    <a class="navbar-brand"></a>
                    <a class="navbar-brand"></a>
                    <a href="/payments" class="navbar-brand">Payments</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/edit/user" ><span class="glyphicon glyphicon-user" ></span> Logged as {{userNickName}}</a></li>
                    <li><a href ="/logoutt"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-hover">
                <tbody style="cursor: pointer;">
                <tr ng-click="editName()" ng-mouseover="name = true" ng-mouseout="name = false">
                    <td>User name: {{user.userName}}</td>
                    <td class="text-right"><span ng-class="{'glyphicon glyphicon-pencil': name}"></span>{{editString}}</td>
                </tr>
                <tr ng-click="editEmail()" ng-mouseover="email = true" ng-mouseout="email = false">
                    <td>E-mail:{{user.email}}</td>
                    <td class="text-right"><span ng-class="{'glyphicon glyphicon-pencil': email}"></span>{{editString}}</td>
                </tr>
                <tr ng-click="editPassword()" ng-mouseover="pass = true" ng-mouseout="pass = false">
                    <td>Password: <b>******</b></td>
                    <td class="text-right"><span ng-class="{'glyphicon glyphicon-pencil': pass}"></span>{{editString}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!--Modal for edit specialization-->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit {{whatEdit}}</h4>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div ng-show="isEditName" class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                        <input ng-change="wrongName = false" ng-blur="checkUser()" ng-model="userName" type="text" class="form-control" placeholder="Username" ng-style="wrongName && {'border-color' : 'red'}">
                    </div>
                    <div ng-show="isEditEmail" class="input-group">
                        <span class="input-group-addon">@</span>
                        <input ng-change="wrongEmail = false" ng-blur="checkEmail()" ng-model="userEmail" type="email" class="form-control" placeholder="E-mail" ng-style="wrongEmail && {'border-color' : 'red'}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-lock"></span>
                        <input ng-model="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <br/>
                    <div ng-show="isEditPassword" class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input ng-model="newPassword" type="password" class="form-control " placeholder="New password">
                        <input ng-blur="checkConfirm()" ng-model="confirmPassword" type="password" class="form-control" placeholder="Confirm password" ng-style="wrongConfirm && {'border-color' : 'red'}">
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div ng-show="wrongName"  class="container">
                <span style="color: red">Username "<b>{{userName}}</b>" exist. Please choose other user name.</span>
            </div>
            <div ng-show="wrongEmail"  class="container">
                <span style="color: red">Change e-mail. Wrong format.</span>
            </div>
            <div ng-show="wrongConfirm"  class="container">
                <span style="color: red">Password is not the same. Please, correct password.</span>
            </div>
            <div ng-show="someThingWrong"  class="container">
                <span style="color: red">Something goes wrong. Try again</span>
            </div>
            <div class="modal-footer">
                <button ng-show="isEditName" type="button" class="btn btn-success" ng-disabled="userName == undefined || userName == '' || wrongName || password == undefined || password == ''" ng-click="updateData(userName, password)">Update</button>
                <button ng-show="isEditEmail" type="button" class="btn btn-success" ng-disabled="userEmail == undefined || userEmail == '' || wrongEmail || password == undefined || password == ''" ng-click="updateData(userEmail, password)">Update</button>
                <button ng-show="isEditPassword" type="button" class="btn btn-success" ng-disabled="newPassword == undefined || newPassword == '' || wrongConfirm || password == undefined || password == ''" ng-click="updateData(newPassword, password)">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>