<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>


    <script src="../js/controller/homeController.js"></script>
    <script src="../js/service/homeService.js"></script>

    <script>
        window.onload = function() {setTimeout(function(){document.body.style.opacity="150";},1);};
    </script>


</head>
<body>
<div ng-controller="homeController">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/home" class="navbar-brand">Dictionary</a>
                    <a class="navbar-brand"></a>
                    <a class="navbar-brand"></a>
                    <a class="navbar-brand"></a>
                    <a href="/schedule" class="navbar-brand">Schedule</a>
                    <a class="navbar-brand"></a>
                    <a class="navbar-brand"></a>
                    <a class="navbar-brand"></a>
                    <a href="/payments" class="navbar-brand">Payments</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/edit/user" ><span class="glyphicon glyphicon-user" ></span> Logged as {{userNickName}}</a></li>
                    <li><a href ="/logoutt"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button"
                        id="dropdownSpecialization1" data-toggle="dropdown" ng-disabled="noSpecialization">
                    <span>Available specialization <span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="specialization in specializations" value="{{specialization.name}}" ng-click="pickedSpecializationFunction(specialization)"><a href>{{specialization.name}}</a></li>
                </ul>
            </div>
            </div>
            <div class="col-md-2" ng-show="noSpecialization">
                <div class="alert alert-warning" role="alert">
                    You don't have any specializations. Go to <a href="/payments">payments tab</a>.
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" ng-show="isPickedSpecialization">
        <div class="col-md-10"><h4>Specialization what You picked is <span style="color: #449d44; font-weight: bold"> {{pickedSpecialization}}</span></h4></div>
    </div>

    <div class="container" ng-show="isPickedSpecialization">
        <input type="text" ng-model="searchInDictionaries.$">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" class="col-md-2">Word</th>
                <th scope="col" class="col-md-7">Expression</th>
                <th scope="col" class="col-md-3">Note</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dictionary in dictionaries | filter:searchInDictionaries:strict">
                <td>{{dictionary.word}}</td>
                <td>{{dictionary.expression}}</td>
                <td>
                    <div class="text-center" ng-show="dictionary.message == null"><button data-toggle="modal" data-target="#noteModal" type="button" class="btn btn-success " ng-click="forModalParameter(dictionary)">Add note</button></div>
                    <div ng-show="dictionary.message != null">{{dictionary.message}}
                        <div class="text-center"><button data-toggle="modal" data-target="#noteModal" type="button" class="btn btn-warning" ng-click="forModalParameter(dictionary)">Edit</button> <button type="button" class="btn btn-danger" ng-click="deleteNote(dictionary)">Delete</button></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>

    <!--Modal for new/edit Note-->
    <div id="noteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Note for {{headerModal}}</h4>
                </div>
                <div class="modal-body">
                    <textarea rows="4" cols="50" ng-model="myTextarea"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveDataFromModal(modalNoteId, modalDictionaryId, myTextarea)">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>