<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>


    <script src="../js/controller/homeController.js"></script>
    <script src="../js/service/homeService.js"></script>

    <script>
        window.onload = function() {setTimeout(function(){document.body.style.opacity="150";},1);};
    </script>


</head>
<body>
<div ng-controller="homeController">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/home" class="navbar-brand">Dictionary</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ><span class="glyphicon glyphicon-user" ></span> Logged as {{userNickName}}</a></li>
                    <li><a href ="/logoutt"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button"
                        id="dropdownSpecialization1" data-toggle="dropdown">
                    Specializations
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="specialization in specializations" value="{{specialization.name}}" ng-click="pickedSpecializationFunction(specialization)"><a href>{{specialization.name}}</a></li>
                </ul>
            </div>
            </div>
            <div class="col-md-10"><h5>Specialization what You picked is <span style="color: #449d44; font-weight: bold"> {{pickedSpecialization}}</span></h5></div>


        </div>
    </div>

    <br/>
    <div class="container">
        <form name="outerForm" class="tab-form-demo">
            <uib-tabset active="activeForm">
                <uib-tab index="0" heading="All words">
                    <br/>


                    <div class="container">
                        <input type="text" ng-model="searchInDictionaries.$">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" class="col-md-2">Word</th>
                                <th scope="col" class="col-md-7">Expression</th>
                                <th scope="col" class="col-md-3">Note</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dictionary in dictionaries | filter:searchInDictionaries:strict">
                                <td>{{dictionary.word}}</td>
                                <td>{{dictionary.expression}}</td>
                                <td>aa</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><ul uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></ul></div>
                            <div class="col-md-4"></div>
                        </div>

                    </div>

                </uib-tab>
                <uib-tab index="1" heading="Find one meaning by words">
                    <div class="container">
                        <h4>Szukanie po word</h4>
                        <pre>Model: {{ngModelOptionsSelected | json}}</pre>
                        <input type="text" ng-model="ngModelOptionsSelected" ng-model-options="modelOptions" uib-typeahead="dictionary.word for dictionary in dictionaries | filter:{'word':$viewValue} | limitTo:8" typeahead-on-select="pickedWordFromSearch($item)" class="form-control">
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Find one meaning by expression">
                    <div class="container">
                        <h4>Szukanie po znaczeniu</h4>
                        <pre>Model: {{ngModelOptionsSelected | json}}</pre>
                        <input type="text" ng-model="ngModelOptionsSelected" ng-model-options="modelOptions" uib-typeahead="dictionary.word for dictionary in dictionaries | filter:{'expression':$viewValue} | limitTo:8" class="form-control">
                    </div>
                </uib-tab>
            </uib-tabset>
        </form>
    </div>
</div>
</body>
</html>