<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.js"></script>




</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Dictionary</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="register"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
                <li><a href="home"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <br/>
    <div class="row">
        <div class="col"><h3 class="text-center">Welcome in my project</h3></div>
    </div>
    <div class="row">
        <div class="col"><p class="text-center">This is the web application for peoples, who want search any words from many specific  specialization.</p></div>
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row">
        <div class="col"><p class="text-center"><a href="home">Sign In!</a> If You don't have account, please <a href="register">create</a>.</p></div>
    </div>
</div>
</body>
</html>