<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.6.2/angular.min.js"></script>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/src/main/webapp">Dictionary</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="register"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
                <li><a href="home"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <p>Logout page</p>
</div>
</body>
</html>